body {
    margin: 0;
}

.bookHolder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.book {
    border: 1px solid red;
}

.bookForm {
    position: absolute;
    top: 15vh;
    left: 30vw;
    right: 30vw;
    height: 60vh;
    background-color: blue;
}

.haveReadButton {
    border: none;
    background-color: white;
}